
body {
    font-family: Lato;
    height: 100%;
    margin:0;
    padding: 0;
    box-sizing: border-box;
    

}
html {
    scroll-behavior: smooth;

}
::-webkit-scrollbar {
    width: 15px;
    
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666565;
  }

  #followName {
    text-shadow: 0.2vh 0.2vh 0.3vh #FF7F50;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    word-spacing: 0.5vh;
    padding: 2vh;
    padding-left: 2vh;
    padding-top: 1vh;
    width: 30;
    z-index: 10;
    font-size: 2.5vh;
    

}

#home {
    margin-top: 0px;
    background-color: black;
    /*background-image: url('images/testmountains.jpg');*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 99.5vw;
    min-height: 100vh;
}
#intro {
    background-image: linear-gradient(rgb(19,18,18), rgb(3, 15, 41), rgb(10, 0, 14));
    width: 99.5vw;
    height: 100vh;
    
    
}


#about {
    background-image: linear-gradient(rgb(18, 1, 26), rgb(46, 3, 3));
    width: 99.5vw;
    height: 100vh;
}
#lightpurple {
    position: absolute;
    width: 99.5vw;
    height: 2vh;
    background-image: linear-gradient(rgb(10, 0, 14),rgb(18, 0, 26));
    top: 200.01vh;
}
#darkgrey {
    position: absolute;
    width: 99.5vw;
    height: 3vh;
    background-color: #080808;;
    top: 100.01vh;
}
#grey {
    position: absolute;
    width: 99.5vw;
    height: 2vh;
    background-color: #0f0f0f;;
    top: 102vh;
}




/* Add this to your existing CSS */
#navBar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 9; 
    width: 100%; 
    height: 7vh;
    transition: opacity 0.5s;
    
    
    
}
.hiddenNav {
    opacity: 0;
    transition: opacity 0.5s;
    
}

.navWord {
    color: white;
    font-size: 4vh; 
    margin-right: 8vh; 
    font-style: bold;
    text-shadow: 0vh 0vh 1vh #FF7F50;
    transition-duration: 0.5s;
    
    
}
.navWord:hover{
    transition-duration: 0.3s;
    opacity: 0.5;
    text-shadow: 0vh 0vh 2vh #2e0404;
    
}
/*To remove all default button styling*/
button, input[type="submit"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#hellopopup {
    position: absolute;
    background-color: rgba(80, 79, 79, 0.808);
    width: 60vw;
    font-size: 28vh;
    font-weight: bold;
    border-radius: 25px;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    top: 15vw;
    left: 20vw;
    color: white;
    text-align: center;
}

#mainName{
    color: white;
}
#introPhrase {
    position: absolute;
    margin-top: 22.2vh;
    margin-left: 13vw;
    font-size: 250px;
    transition: 0s color;
    transition-delay: 0.5s;
    transition-duration: 1s;
    display: flex;
    
    font-size: 20vh;
    
}

#introPhrase:hover {
    /* Eventually make this into a thing where the text gives a glow when hovered on*/
    color: black;
    transition-duration: 1s;
    transition-delay: 0.5s;
}


#arrow {
    position: absolute;
    left: 50vw;
    top: 94vh;
    border: solid white;
    border-width: 0 1vh 1vh 0;
    padding: 1vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation: fadeIn 10s;
}

#arrow1 {
    position: absolute;
    left: 50vw;
    top: 94vh;
    border: solid white;
    border-width: 0 1vh 1vh 0;
    padding: 1vh;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.5s ease, top 1s ease
    
    
}


.arrowhover:hover #arrow1{
    opacity: 0.3;
    top: 91.5vh;
    transition-duration: 1s;
    transition: opacity 0.5s ease, top 1s ease;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

#mainBig {
    position: absolute;
    color: #FF7F50;
    font-size: 200px;
    left: 42.5vw;
    top: 40.8vh;
    font-size: 15vh;

}



#profilePhoto {
    position: absolute;
    width: 800px;
    border-radius: 40px;
    top: 120vh;
    right: 12.7vw;
    

}



.learnIcon {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 800px;
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 40px;
    height: 800px;
    top: 120vh;
    left: 59vw;
    opacity: 0;
    transition: opacity 0.3s ease;
    

}
#learnIconWord{
    color: #fff;
    text-align: center;
    padding: 30px;
    font-size: 65px;
}

#profilePhotoCont:hover .learnIcon {
    opacity: 1;
}



#aboutContain {
    position: absolute;
    width: 44vw;
    height: 190px;
    border-radius: 10px;
    left: 9.6vw;
    top: 140vh;
    text-align: center;
    
}



.aboutContain-nofade{
    opacity: 0;
    transition: opacity 3s ease;
}
.aboutContain-nofade.fade{
    opacity: 1;
}

#aboutWord {
    color: #fff;
    text-shadow: 2px 2px 60px skyblue;
    font-size: 34px;
}


.subheading {
    position: absolute;
    font-size: 150px;
    font-weight: bold;
    padding: 100px;
    margin-top: 5vh;
}
#subheadingmoreabout{
    right: 450px;
    color: #fff;

}
#subheadingme {
    right:200px;
    color: orange;
    text-shadow: 2px 2px 30px #FF7F50;
}

.aboutTab {
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 60px;
    right: 300px;
    margin-top: 30vh;
    
}
#aboutwordtitle{
    right:1050px;
}

#hobbieswordtitle{
    right:625px;
}

#skillswordtitle{
    right: 300px;
}

.aboutTab:hover{
    text-shadow: 0px 0px 10px #ffffff;
    transition-duration: 0.1s;

}
.aboutTabWord{
    position: absolute;
    color: white;
    width: 1000px;
    right: 300px;
    margin-top: 500px;
    font-size: 30px;
    height: 100%;
    text-align: right;
    visibility: hidden;
}